<!doctype html>
<title>Hello from Flask</title>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% else %}
<h1>Hello World! {{name }}</h1>
{% endif %}

<form id="calc">
  <label>a <input name="a"></label>
  <span>+</span>
  <label>b <input name="b"></label>
  <input type="submit" value="Calculate">
</form>
<form id="param">

  <ul> <label>Red = <span id="red_label"></span></label></ul>
  <ul> <label>Green = <span id="green_label"></span></label></ul>
  <ul> <label>Blue = <span id="blue_label"></span></label></ul>
</form>>
<span>= <span id="result"></span></span>
<span>____________ <span id="Range"></span></span>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    function addSubmit(ev) {
      ev.preventDefault();
      $.ajax({
        method: 'POST',
        url: {{ url_for('add')|tojson }},
        data: $(this).serialize()
      }).done(addShow);
    }

    function addShow(data) {
      $('#result').text(data.result);
    }

    $('#calc').on('submit', addSubmit);
  </script>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Colorpicker</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

  <style>
  #red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
  }
  #swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
  }
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }
  </style>

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
    $( function() {
    function hexFromRGB(r, g, b) {
      var hex = [
        r.toString( 16 ),
        g.toString( 16 ),
        b.toString( 16 )
      ];
      $.each( hex, function( nr, val ) {
        if ( val.length === 1 ) {
          hex[ nr ] = "0" + val;
        }
      });
      return hex.join( "" ).toUpperCase();
    }
    // Функция вызывается при change
    function refreshSwatch() {
      var red = $( "#red" ).slider( "value" ),
        green = $( "#green" ).slider( "value" ),
        blue = $( "#blue" ).slider( "value" );
        // заполняю поля для видимости значений
        $('#red_label').text(red);
        $('#green_label').text(green);
        $('#blue_label').text(blue);
        // отправляю запрос на сайт
      $.ajax({
      url: '/login',
      type: 'post',
      data: {red,green,blue}
      });
    }

    $( "#red, #green, #blue" ).slider({
      orientation: "horizontal",
      range: "min",
      max: 255,
      value: 127,
      change: refreshSwatch
    });
    // стартовые значения
    $( "#red" ).slider( "value", 10 );
    $( "#green" ).slider( "value", 10 );
    $( "#blue" ).slider( "value", 10 );
  } );
 $( function() {
    var handle = $( "#custom-handle" );
    $( "#slider" ).slider({
      create: function() {
        handle.text( $( this ).slider( "value" ) );
      },
      slide: function( event, ui ) {
        handle.text( ui.value );
      },
      change: function( event, ui ) {
      //  fetch(`/?value=${ui.value}`);
      var slide_val = ui.value;
                          // AJAX request
      $.ajax({
      url: '/login',
      type: 'post',
      data: {slide_val}
      });

      }
    });
  } );
  </script>
</head>
<body class="ui-widget-content" style="border:0;">

<div id="slider">
  <div id="custom-handle" class="ui-slider-handle"></div>
</div>

<div id="red"></div>
<div id="green"></div>
<div id="blue"></div>

</body>
